<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome! Digital Nomads Playground</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
   <div class="wrap">
    <div class="intro_bg">
        <div class="header">
            <div class="search_area">
                <form>
                    <input type="search" placeholder="Search">
                    <span>GO</span>
                </form>
            </div>
            <ul class="nav">
                <li><a href="#">HOME</a></li>
                <li><a href = "#">ABOUT</a></li>
                <li><a href = "#">SERVICE</a></li>
                <li><a href = "#">CONTACT</a></li>
            </ul>
        </div>
        <div class="intro_text">
            <h1>Digital Nomads Playground</h1>
            <h3 class="contents1">Welcome to the All-in-one Workation platform for Digital Nomads</h3>
        </div>
    </div>
   </div>
   <!--intro end-->
   <ul class="top_banner">
    <li>
        <div>
            <div class="banner_title">Number of Nomads</div>
            <div class="banner_content">1438</div>
        </div>
    </li>
    <li>
        <div>
            <div class="banner_title">Total services delivered</div>
            <div class="banner_content">2556</div>
        </div>
    </li>
    <li>
        <div>
            <div class="banner_title">Community Satisfaction Score</div>
            <div class="banner_content">97%</div>
        </div>
    </li>
   </ul>
  <!--banner end-->

<div class="main_text0">
    <div class="content_box">
        <h1>ABOUT US</h1>
        <div class="contents2">Digital Nomad Playground is a platform that provides All-in-one services for a satisfying workation experience. <br>Work and enjoy in the destination of your choice while we take care of everything else, and more. 
        </div><br>
        <div class="sub_text">
            A Community to share knowledge
        </div> 
        <div class="contents3"> 
            Our network of +1400 nomads creates a strong community to share knowledge. <br>Newbie nomads can seek for tips and insights for living a nomad lifestyle and gather <br>resources for working and living in new environment. <br>Nomads are now connected than ever before. 
        </div>
        <div class="sub_text">
            Accomodation just for nomads
        </div>
        <div class="contents3">Nomads need warm home especially outside of home.<br>Ever struggled to find a nice flat with fast internet and work-friendly environment?<br>We know what nomads need. Click on the Accomodation button to read more.
            
        </div>    
    </div>

    <div class="service_box">
        <h1>Our Service</h1>
        <ul class="service">
            <li>Connect & Share</li>
            <li>Stay</li>
            <li>Work</li>
        </ul>
    </div>

    <div class="contact_box">
        <div class="contact_top">
        <div> 
            <span id="contact_bold">DNP Family</span>
            <span id="contact_button">Read More</span><br><br>
            <div>Join our network of digital nomads<br> and benefit from membership discounts.</div>
            
        </div>
        <div>
            <div id="contact_bold">CONTACT US</div>
            <div>Service Operating hours: (Mon - Sun) 10:00 - 19:00</div>
            <div></div>
            <div>Email : askservice@dnplayground.org</div>
            <div>Tel : (+32)10 2374 5433</div>
        </div>
        </div>

        <div class="contact_bottom">
        <div>
            <div>© 2022. DNP</div>
            <div>Digital Nomads Playground</div>
            <div>Address : 45 Puu KOA PI, Haiku, HI 96708 U.S.</div>
            <div>Company Registration No. : 35528910</div>
        </div>
        <div>
            <div>Privacy Policy</div><br>
            <div>Cookie Policy</div><br>
            <div>Terms & Conditions</div>
        </div>
    </div>

</div>
  
</body>
</html>

